name: Delete the preview

on:
  pull_request:
  workflow_dispatch:

jobs:
  pull-request-cleanup:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: skabold/devops-nextjs:${{ github.sha }}
          files: ./Dockerfile

      - name: "Login via Azure CLI"
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIAL }}

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4

      - name: "Delete Azure Container Instances"
        uses: azure/CLI@v1
        with:
          azcliversion: 2.30.0
          inlineScript: |
            az container delete --resource-group devopsNJS --name ${{ env.GITHUB_HEAD_REF_SLUG }}pr --yes --no-wait
