name: Test

on:
  push:
  workflow_dispatch:
  jobs:
    pull-request-deploy:
        runs-on: ubuntu-latest
        steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: skabold/devops-nextjs:${{ github.sha }}
          files: ./Dockerfile

        - name: 'Deploy to Azure Container Instances'
          uses: 'azure/aci-deploy@v1'
          with:
            resource-group: pull-request
            dns-name-label: skabold/devops-nextjs:${{ github.sha }}
            image: pull-request.skabold/devops-nextjs:${{ github.sha }}
            registry-username: ${{ secrets.DOCKER_USERNAME }}
            registry-password: ${{ secrets.DOCKER_PASSWORD }}
            name: pull-request-container
            location: 'france central'