name: Build and push Docker image on master change then deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm start

  build-and-push:
    runs-on: "ubuntu-latest"
    needs: cypress-run
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: skabold/devops-nextjs:${{ github.sha }}
          files: ./Dockerfile

  deploy:
    runs-on: "ubuntu-latest"
    needs: build-and-push
    steps:
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: "devopsnjs"
          publish-profile: ${{ secrets.AZURE_BLOB }}
          images: skabold/devops-nextjs:${{ github.sha }}
