name: Build and push Docker image on master change

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registery: skabold/devops-nextjs
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: skabold/devops-nextjs:${{ github.sha }}
          files: ./Dockerfile

jobs:
  deploy:
    runs-on: "ubuntu-latest"
    steps:
      - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'devopsnjs'
        publish-profile: ${{ AZURE_BLOB }}
        image: skabold/devops-nextjs:${{ github.sha }}
